#container-header{
    display:relative;
    align-items: center;
}
#container-header span {
    margin: 0%;
    font-size: 32px;
    font-weight: bold;
}
#container-header a{
    margin-left:15px;
    font-size:20px;
}
#current-page{
    color:maroon;
}
a{
    color: #0000EE;
}
#updates h2{
    padding-bottom: 5px;
}
#updates h3{
    line-height: 0;
}
hr{
    width: 100%;
}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

/*Never use alternative styles unless needed for specific page.*/