#container-header{
    display:relative;
    align-items: center;
}
#container-header span {
    margin: 0%;
    font-size: 32px;
    font-weight: bold;
}
#container-header a{
    margin-left:15px;
    font-size:20px;
}
#current-page{
    color:maroon;
}
a{
    color: #0000EE;
}
#updates h2{
    padding-bottom: 5px;
}
#updates h3{
    line-height: 0;
}
hr{
    width: 100%;
}
/*Never use alternative styles unless needed for specific page.*/